{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}Owela Club{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'milligram-1.4.1.min.css' %}">
    <link rel="stylesheet" href="{% static 'owela-club.css' %}">
    <meta name="htmx-config" content='{"includeIndicatorStyles": false}'>
    <script src="{% static 'htmx-1.4.1.min.js' %}" async></script>
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="container">
      <div class="column column-100" id="page">
        <div class="float-right" hx-get="/num-games-in-progress/" hx-trigger="load, every 2s"></div>
        <h1><a href="/">Owela Club</a></h1>
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
