{% extends "_base.html" %}

{% block content %}
  <h2>Games in Progress</h2>
  {% if games_in_progress %}
    <ul>
      {% for game in games_in_progress %}
        <li>
          <a href="/game/{{ game.id }}">Game {{ game.id }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>
      No games are in progress.
    </p>
  {% endif %}

  <p>
    <form method="post" action="/new-game/">
      <button type="submit">Start a new game</button>
    </form>
  </p>

  <h2>Finished Games</h2>
  {% if games_finished %}
    <ul>
      {% for game in games_finished %}
        <li>
          <a href="/game/{{ game.id }}">Game {{ game.id }}</a>
          {% if game.winner == Player.HUMAN %}
            🥳 you won
          {% else %}
            🤖 AI won
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>
      No games have yet been finished.
    </p>
  {% endif %}
{% endblock %}
